doctype html
html
  head
    title le chat
    // Bootstrap Core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')    
    link(href='https://fonts.googleapis.com/css?family=VT323', rel='stylesheet')
  body
    .navbar
      .navbarLeft.pull-left
        a.logo(href='/') #le chat
      .navbarRight.pull-right
        a.about(href='/about') about
    .aboutCont
      p Hello World